.container .title h4{
    font-size: 1.2em;
    margin: 1.6em 0;
}

.container .content p{
    color:#8e9db2;
}

@media(min-width:1000px){
    .container .title {
        font-size: 1.4em;
        margin: 1em 0;
    }
    
    .container .content p{
        color:#8e9db2;
        font-size: 1.25em;
        margin-bottom: 6em;
    }
    
}